.main{
    padding-top: 50px;
    margin-left: 50px;
    width: 92%;
    height: 100vh;
    display: grid;
    grid-gap: 30px;
    grid-template-rows:    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.d1{
    grid-row: 1/ 7;
    grid-column: 1/5;
    background-image: url(https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2022/challenger/vlp/desktop/2022-dodge-challenger-vlp-gallery-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.d2{
    grid-row: 1/ 11;
    grid-column: 5/10;
    background-image: url(https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2022/challenger/vlp/desktop/2022-dodge-challenger-vlp-gallery-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.d3{
    grid-row: 1/ 6;
    grid-column: 10/13;
    background-image: url(https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2022/challenger/vlp/desktop/2022-dodge-challenger-vlp-gallery-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.d4{
    grid-row: 7/ 11;
    grid-column: 1/3;
    background-image: url(https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2022/challenger/vlp/desktop/2022-dodge-challenger-vlp-gallery-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.d5{
    grid-row: 7/ 11;
    grid-column: 3/5;
    background-image: url(https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2022/challenger/vlp/desktop/2022-dodge-challenger-vlp-gallery-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.d6{
    grid-row: 6/ 11;
    grid-column: 10/13;
    background-image: url(https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2022/challenger/vlp/desktop/2022-dodge-challenger-vlp-gallery-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}